.mnb{
	background-color:#0C28F6;
}
.lk{
	font-size:30px;
}
.cheque{
	position:absolute;
	top:269px;
	left:20%;
}
.kp{
	background-color:#0C28F6;
	box-shadow: 2px 2px 2px 3px black;
}
.kmn{
	border-radius: 45px/15px;
}
.kbc{
	border-radius: 20px 0px 20px 0px;
	width:100%;
	height:50px;
	border:3px solid blue;
	font-size:20px;
	font-weight: 400;
	color:blue;
}
.kbc:focus{outline:0 !important;}